/** Styles used by the main page */
html, body, #app {
  height: 100%;
  margin: 0;
  background-color: #F8F7F3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  flex-shrink: 0;
  width: 100%;
}

main {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

/** Styles reused across the project */

/* Represent a simple badge (eg. class/evolution badge) */
.badge {
  display: block;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  width: min-content;
  height: min-content;
  min-height: 2rem;

  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

  white-space: nowrap;
  overflow: hidden;
  border-radius: 1.25rem;

  
}

.badge p {
  text-align: center;
  padding: 0.5rem 1rem;
  margin: 0;
}


.circle {
  border-radius: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.card {
  background-color: white;
  border-radius: 1.60rem;
  padding: 0.7rem 1rem;

  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin: 0.5rem;
}

.fullWidthCard {
  width: 93%;
}
