/** Styles used by the main page */
html, body, #app {
  height: 100%;
  margin: 0;
  background-color: #F8F7F3;
}
#app {
  display: flex;
  flex-direction: column;
}
footer {
  flex-shrink: 0;
}

#main {
  flex: 1 0 auto;
}

/** Styles reused across the project */

/* Represent a simple badge (eg. class/evolution badge) */
.badge {
  width: min-content;
  height: min-content;
  min-height: 2rem;

  white-space: nowrap;
  overflow: hidden;
  border-radius: 1.25rem;
}

.circle {
  border-radius: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.card {
  background-color: white;
  border-radius: 1.60rem;
  padding: 0.7rem 1rem;

  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin: 0.5rem;
}

